body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1176px;
}

.header {
  padding: 40px 0 40px 40px;
  width: 100%;
  background-color: #181616;
  color: white;
}

.cover-image img {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-list {
  width: 66.67%;
}

.post-list-item {
  background-color: #ebf2ff;
  padding: 10px 25px;
}

.sidebar {
  width: 33.33%;
  margin-left: 16px;
  background-color: #e0ebe6;
  padding: 10px 20px;
  align-self: flex-start;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin: 4px 0;
}

.footer {
  background-color: #181616;
  width: 100%;
}

.footer p {
  color: white;
  text-align: center;
}
